# Include all files in the main package directory
recursive-include PlotNeuralNet *

# Explicitly include the LICENSE file
include LICENSE

# Explicitly include the README file
include README.md

# Optional: Include any specific file types
recursive-include PlotNeuralNet *.sty *.tex *.pdf *.jpg *.png *.txt
